@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

ul {
  background: salmon;
  overflow: hidden;
  padding: 0 10px;
  li {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    background: orange;
    div {
      flex: 1;
      padding: 0 10px;
    }
    span {
      flex: 0 0 40px;
      font-size: 30px;
      line-height: 1;
      cursor: pointer;
    }
  }
}